body {
                background-image: url("images/parchemin2.jpg");
            }
            h2 {
                color: blue;
                background-color: goldenrod;
                width: 90%;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 1.5em;
                border: solid;
            }
                                                
            section h2 {   
                border: none;
                margin-top: 3px;
                margin-bottom: 3px;
                font-size: 1.5em;
                font-style: italic;
            }
            h2 {
                color: blue;
                background-color: goldenrod;
            }
            p {
                text-indent: 16px;
                text-align: justify;
            }
            .surligne {
                background-color: yellow;
            }
            #para1 {
                border: 2px solid black;
               font-style: italic;
               font-size: 0.5em;
                background-color: rgb(210,210,210);
            }
            #para2 {
                border: 2px dashed black;
               
                background-color: rgb(0,0,255,0.15);
            }
            p::first-letter {
                font-size: 1.8em;
                font-weight: bolder;
                color: red;
            }
            .surligne:hover {
                font-size: 2em;
                background-color: green;
                color: yellow;
            }
            h1{
                background-color: red;
                border: solid 2px black;
                text-align: center;
                width: 75%;
                font-size: 3.0em;
                margin: 20px auto 20px auto; 
            }
            h2{
                border: solide 4px blue;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 1.25em;
                background-color: goldenrod;
                
            }
            ol > li {
                list-style: upper-roman;;
            }
            ol > li > ol > li {
                list-style: lower-alpha;
            }
            ol > li > ol > li > ol > li {
                list-style: lower-roman;
            }
            img {
                border-width: 10px;
                border-style: solid;
                border-color : white;
            }
            
            
            
            a > img {
                border-color: blueviolet;
            }
            
            a[href*="wikipedia"] > img {
                border-color: #b6dcf6;
            }
            